nav
  width 100%
  height 50px
  background rgb(38,164,222)
  text-align center
  color #fff
  .top-left
    width 100px
    height 32px
    line-height 32px
    float left
    margin 9px 0 0 8px
    img
      width 22px
      height 22px
      float left
      margin-top 4px
    .arrow
      width 78px
      font-size 15px
      line-height 32px
      text-align left
      height 32px
      float left
  .top-name
    position absolute
    top 15px
    left 0
    right 0
    width 200px
    height 32px
    line-height 32px
    text-align center
    float left
    margin 0 auto
    font-size 18px
