.login
  width 100%
  min-height 800px
  background-size cover
  margin 0 auto
  background url(../../images/baa18ac03f0d4bbe9bdc6c4f4762dfd0.jpg)no-repeat center
  opacity 0.8
  .login-content
    width 90%
    height 300px
    margin 0 auto
    position absolute
    left 0
    right 0
    top 90px
    .headPic
      width 100px
      height 100px
      border-radius 50%
      overflow hidden
      margin 0 auto
    form
      width 80%
      height 200px
      margin 40px auto
      .form-item
        width 100%
        height 40px
        margin 10px auto
        line-height 40px
        input
          box-sizing border-box
          width 100%
          height 38px
          border 1px solid #2db7f5
          border-radius 10px
          background #fff
          padding 10px
          outline none
        button
          width 100%
          height 38px
          border 1px solid #2db7f5
          border-radius 10px
          background #2db7f5
          color #fff
          outline none



